.purchase_transaction_card{
    display: flex;
}
.purchase_filter{
    display: flex;
}
.purchase_dashboard{
    display: flex;
}
.dashboard {
  padding: 20px;
  background: #f9f9f9;
}

.transaction-tabs {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.transaction-tabs button {
  background: #f5f5f5;
  color: #333;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.transaction-tabs .active-tab {
  background: #42A5F5;
  color: #fff;
}

.filter-card {
  margin-top: 20px;
}

.summary-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  width:100%
}

.summary-cards .MuiCard-root {
  flex: 1;
  text-align: center;
}

.status-credit {
  background: #ffcdd2;
  color: #c62828;
  padding: 4px 10px;
  border-radius: 10px;
  font-weight: 600;
}

.status-paid {
  background: #c8e6c9;
  color: #2e7d32;
  padding: 4px 10px;
  border-radius: 10px;
  font-weight: 600;
}
