.invoice_display{
    display: flex;
    width: 100%;
}
@media print {
    .MuiTableCell-root:last-child, /* Hides last table cell (Action column) */
    .MuiTableCell-head:last-child, /* Hides last table header (Action column) */
    .MuiIconButton-root { /* Hides the icons inside the last column */
      display: none !important;
    }
    .table-actions{
        display: none !important;
    }
  }
 .table_container{
    width:95%
 }
.table-actions{
    display: flex;
    
    gap: 10px;
}
